<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTD Mapper 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.ClassBrrowSystem.dao.UserDAO">

    <resultMap id="userMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="contact" property="contact"/>
        <result column="uClass" property="uClass"/>
    </resultMap>

    <select id="checkLogin" resultMap="userMap">
        select username,user_id,password
        from RBS.users
        where user_id = #{id}
    </select>

    <select id="queryUserByName" resultMap="userMap">
        select username,user_id,role,contact
        from RBS.users
        where username = #{name}
    </select>

    <select id="queryUserById" resultMap="userMap">
        select username,user_id,role,contact
        from RBS.users
        where user_id = #{id}
    </select>
</mapper>